/************** custom message notification *******************/
.success-well {
	padding: 10px;
	border-left:5px solid green;
	background-color: rgb(213, 250, 203);
}

.danger-well {
	padding: 10px;
	border-left:5px solid red;
	background-color: rgb(245, 197, 197);
}

.warning-well {
    padding: 10px;
	border-left: 5px solid #F1C40F;
	background-color: rgb(245, 236, 199);
}

.info-well {
	padding: 10px;
	border-left:5px solid rgb(0, 195, 255);
	background-color: rgb(195, 225, 255);
}


/**************************** Utilities *******************************/
.create-hover:hover {
    cursor: pointer;
}

.title-hold {
    border-bottom: 4px solid #D6DBDF;
    padding:30px;
}

.content-hold {
    padding: 30px;
    border-bottom: 4px solid #D6DBDF;
}

.election-hold {
    padding:20px;
    border-bottom: 4px solid #D6DBDF;
}

.required {
    color: red;
}

.form-input {
    height: 40px;
    font-size:18px;
}